# Duration of the object cache, effectively used for origins.
cacheSize = 1800

# The maximum station distance in degrees.
maximumDistance = 5

# The minimum number of stations required to compute and populate the goodness of fit.
minimumStations = 0

# The update interval in seconds to check for OGF updates.
updateInverval = 1

# An offset in seconds that will be substracted from the arrival time to compute
# the desired envelope time window.
preArrivalTimeWindow = 0

# "the event is over" (event as represented by an origin) - defined as multiple
# of the s travel time between an origin and the furthest considered station.
postArrivalTimeShare = 1.5

# The path of the predicted envelopes and ground motion coefficients.
predictionArchivePath = @DATADIR@/scogf

# The ID of the comment of the evaluated origin which receives the maximum of the
# computed GOF values for each magnitude.
commentID = eew.ogf.value

# The ID of the comment of the evaluated origin which receives the magnitude type of
# the maximum GOF value.
commentMagID = eew.ogf.mag

# Type of travel-time interface. Also consider "tableModel"!
tableType = LOCSAT

# The travel-time model to be used. The availability of models depends on
# "tableType"
table = iasp91

# The buffer size of the envelope buffer per sensor location. This value represents
# the number of items in the buffer. If the envelope computation is based on an interval
# of 1s then this value corresponds to number of seconds.
envelopes.bufferSize = 1800

# The maximum envelope delay in seconds to accept after the event lifetime is over.
envelopes.maxDelay = 20

# Sensor location IDs to accept. Empty means all.
#sensorLocations.include =

# Sensor location IDs to reject. Empty means none.
#sensorLocations.exclude =

# The default sensor location soil class.
#sensorLocations.defaultSoilClass =
