# Duration of the object cache, effectively used for origins
ogf.cacheSize = 1800

# The maximum station distance in degrees
ogf.maximumDistance = 5

# The update interval in seconds to check for OGF updates
ogf.updateInverval = 1

# "the event is over" (event as represented by an origin) - defined in
# percent of the s travel time between an origin and the furthest considered station.
ogf.postArrivalTimeShare = 150

ogf.predictionArchivePath = @DATADIR@/scogf
#ogf.zoneFile:

# The buffer size of the envelope buffer per sensor location. This value represents
# the number of items in the buffer. If the envelope computation is based on an interval
# of 1s then this value corresponds to number of seconds.
envelopes.bufferSize = 1800

# The maximum envelope delay in seconds to accept after the event lifetime is over.
envelopes.maxDelay = 20

# Sensor location IDs to accept. Empty means all.
#stations.include =

# Sensor location IDs to reject. Empty means none.
#stations.exclude =

# The default station soil class.
#stations.defaultSoilClass =
